@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}
:root {
  --main-color: rgb(123, 34, 34);
  --second-color: rgb(43, 12, 12);
  --light-color: rgb(219, 219, 219);
}
body {
  background-color: var(--second-color);
  position: relative;
}
/* HEADER */
header {
  position: fixed;
  width: 100%;
  background-color: var(--main-color);
  z-index: 1;
  border-bottom: 2px solid black;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  padding: 10px;
  width: 40%;
  max-width: 300px;
  margin: 10px 30px;
  border-radius: 20px;
  border: 1px solid var(--light-color);
  outline: none;
  background-color: var(--main-color);
  color: var(--light-color);
}
input::placeholder {
  color: var(--light-color);
}

/* MAIN */
.main {
  padding: 80px 20px;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
}
.movie {
  margin: 20px auto;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.movie img {
  height: 90%;
  object-fit: cover;
}
.movie-info {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10%;
  padding: 12px;
  bottom: 0;
  width: 100%;
  background-color: var(--main-color);
  color: var(--light-color);
  text-shadow: 0 0 4px black;
}
.movie .movie-info .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
}
.movie .movie-info:hover .title {
  white-space: normal;
}
.movie-info span {
  font-weight: bold;
}
.overview {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--light-color);
  padding: 20px;
  transform: translateY(100%);
  transition: 0.5s;
}
.movie:hover .overview {
  transform: translateY(0);
}
.overview h4 {
  margin-bottom: 10px;
}
/* colors fo ratings */

.movie-info span.gold {
  color: gold;
}
.movie-info span.orange {
  color: coral;
}
.movie-info span.red {
  color: red;
}
