@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

* {
    font-family: 'Cabin', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.container {
    padding: 30px;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px black;
}
button {
    padding: 5px 10px;
    margin: 5px;
}
li {
    margin: 10px;
}