@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

body {
  font-family: 'Hubballi', cursive;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(228, 228, 228);
}

.toast-container {
  position: fixed;
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.toast {
  position: relative;
  width: 300px;
  padding: 1rem;
  border-radius: 0.2em;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 0 10px rgb(146, 146, 146);
}

.toast::after {
  content: '\00D7';
  position: absolute;
  top: 0.1em;
  right: 0.5em;
}

.toast-container[data-position^='top'] {
  top: 0;
}
.toast-container[data-position^='bottom'] {
  bottom: 0;
}
.toast-container[data-position$='left'] {
  left: 0;
}
.toast-container[data-position$='right'] {
  right: 0;
}
.toast-container[data-position$='center'] {
  left: 50%;
  transform: translateX(-50%);
}
