@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
  padding: 0;
  margin: 0;
}
.container {
  padding: 0 20px;
}
#search {
  padding: 10px;
  width: 300px;
  outline: none;
  border-radius: 20px;
  border: none;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(228, 148, 142);
  padding: 20px 0;
}
.pokemons {
  display: flex;
  flex-wrap: wrap;
}
.pokemon {
  width: 120px;
  height: 150px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 2px 4px 5px rgb(114, 114, 114);
}
